YnovDashboardProject/Project1/Service References/YnovServiceReference/YnovService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="YnovService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webhostuwp20161129090314.azurewebsites.net/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webhostuwp20161129090314.azurewebsites.net/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webhostuwp20161129090314.azurewebsites.net/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UWPExam" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IYnovService_GetCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="IYnovService_GetCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IYnovService_Ventes_InputMessage">
    <wsdl:part name="parameters" element="tns:Ventes" />
  </wsdl:message>
  <wsdl:message name="IYnovService_Ventes_OutputMessage">
    <wsdl:part name="parameters" element="tns:VentesResponse" />
  </wsdl:message>
  <wsdl:message name="IYnovService_Clients_InputMessage">
    <wsdl:part name="parameters" element="tns:Clients" />
  </wsdl:message>
  <wsdl:message name="IYnovService_Clients_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IYnovService_Resultats_InputMessage">
    <wsdl:part name="parameters" element="tns:Resultats" />
  </wsdl:message>
  <wsdl:message name="IYnovService_Resultats_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResultatsResponse" />
  </wsdl:message>
  <wsdl:message name="IYnovService_GetAllSuppliers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSuppliers" />
  </wsdl:message>
  <wsdl:message name="IYnovService_GetAllSuppliers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSuppliersResponse" />
  </wsdl:message>
  <wsdl:message name="IYnovService_GetAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="IYnovService_GetAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IYnovService_GetAllOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrder" />
  </wsdl:message>
  <wsdl:message name="IYnovService_GetAllOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IYnovService_GetAllOrderItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrderItem" />
  </wsdl:message>
  <wsdl:message name="IYnovService_GetAllOrderItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrderItemResponse" />
  </wsdl:message>
  <wsdl:message name="IYnovService_GetNbCustomersByCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNbCustomersByCountry" />
  </wsdl:message>
  <wsdl:message name="IYnovService_GetNbCustomersByCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNbCustomersByCountryResponse" />
  </wsdl:message>
  <wsdl:message name="IYnovService_GetNbSupplierByCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNbSupplierByCountry" />
  </wsdl:message>
  <wsdl:message name="IYnovService_GetNbSupplierByCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNbSupplierByCountryResponse" />
  </wsdl:message>
  <wsdl:message name="IYnovService_GetNbCommandsByCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNbCommandsByCustomers" />
  </wsdl:message>
  <wsdl:message name="IYnovService_GetNbCommandsByCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNbCommandsByCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IYnovService_GetTotalSpendByCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalSpendByCustomers" />
  </wsdl:message>
  <wsdl:message name="IYnovService_GetTotalSpendByCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalSpendByCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IYnovService_GetTotalCommandByMonth_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalCommandByMonth" />
  </wsdl:message>
  <wsdl:message name="IYnovService_GetTotalCommandByMonth_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalCommandByMonthResponse" />
  </wsdl:message>
  <wsdl:message name="IYnovService_GetTurnoverByMonth_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTurnoverByMonth" />
  </wsdl:message>
  <wsdl:message name="IYnovService_GetTurnoverByMonth_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTurnoverByMonthResponse" />
  </wsdl:message>
  <wsdl:message name="IYnovService_GetNbProductBySupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNbProductBySupplier" />
  </wsdl:message>
  <wsdl:message name="IYnovService_GetNbProductBySupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNbProductBySupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IYnovService_GetNbSaleByProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNbSaleByProduct" />
  </wsdl:message>
  <wsdl:message name="IYnovService_GetNbSaleByProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNbSaleByProductResponse" />
  </wsdl:message>
  <wsdl:portType name="IYnovService">
    <wsdl:operation name="GetCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IYnovService/GetCustomers" message="tns:IYnovService_GetCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IYnovService/GetCustomersResponse" message="tns:IYnovService_GetCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ventes">
      <wsdl:input wsaw:Action="http://tempuri.org/IYnovService/Ventes" message="tns:IYnovService_Ventes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IYnovService/VentesResponse" message="tns:IYnovService_Ventes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Clients">
      <wsdl:input wsaw:Action="http://tempuri.org/IYnovService/Clients" message="tns:IYnovService_Clients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IYnovService/ClientsResponse" message="tns:IYnovService_Clients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Resultats">
      <wsdl:input wsaw:Action="http://tempuri.org/IYnovService/Resultats" message="tns:IYnovService_Resultats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IYnovService/ResultatsResponse" message="tns:IYnovService_Resultats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSuppliers">
      <wsdl:input wsaw:Action="http://tempuri.org/IYnovService/GetAllSuppliers" message="tns:IYnovService_GetAllSuppliers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IYnovService/GetAllSuppliersResponse" message="tns:IYnovService_GetAllSuppliers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IYnovService/GetAllProducts" message="tns:IYnovService_GetAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IYnovService/GetAllProductsResponse" message="tns:IYnovService_GetAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IYnovService/GetAllOrder" message="tns:IYnovService_GetAllOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IYnovService/GetAllOrderResponse" message="tns:IYnovService_GetAllOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOrderItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IYnovService/GetAllOrderItem" message="tns:IYnovService_GetAllOrderItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IYnovService/GetAllOrderItemResponse" message="tns:IYnovService_GetAllOrderItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNbCustomersByCountry">
      <wsdl:input wsaw:Action="http://tempuri.org/IYnovService/GetNbCustomersByCountry" message="tns:IYnovService_GetNbCustomersByCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IYnovService/GetNbCustomersByCountryResponse" message="tns:IYnovService_GetNbCustomersByCountry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNbSupplierByCountry">
      <wsdl:input wsaw:Action="http://tempuri.org/IYnovService/GetNbSupplierByCountry" message="tns:IYnovService_GetNbSupplierByCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IYnovService/GetNbSupplierByCountryResponse" message="tns:IYnovService_GetNbSupplierByCountry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNbCommandsByCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IYnovService/GetNbCommandsByCustomers" message="tns:IYnovService_GetNbCommandsByCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IYnovService/GetNbCommandsByCustomersResponse" message="tns:IYnovService_GetNbCommandsByCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalSpendByCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IYnovService/GetTotalSpendByCustomers" message="tns:IYnovService_GetTotalSpendByCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IYnovService/GetTotalSpendByCustomersResponse" message="tns:IYnovService_GetTotalSpendByCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalCommandByMonth">
      <wsdl:input wsaw:Action="http://tempuri.org/IYnovService/GetTotalCommandByMonth" message="tns:IYnovService_GetTotalCommandByMonth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IYnovService/GetTotalCommandByMonthResponse" message="tns:IYnovService_GetTotalCommandByMonth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTurnoverByMonth">
      <wsdl:input wsaw:Action="http://tempuri.org/IYnovService/GetTurnoverByMonth" message="tns:IYnovService_GetTurnoverByMonth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IYnovService/GetTurnoverByMonthResponse" message="tns:IYnovService_GetTurnoverByMonth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNbProductBySupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/IYnovService/GetNbProductBySupplier" message="tns:IYnovService_GetNbProductBySupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IYnovService/GetNbProductBySupplierResponse" message="tns:IYnovService_GetNbProductBySupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNbSaleByProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IYnovService/GetNbSaleByProduct" message="tns:IYnovService_GetNbSaleByProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IYnovService/GetNbSaleByProductResponse" message="tns:IYnovService_GetNbSaleByProduct_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IYnovService" type="tns:IYnovService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://tempuri.org/IYnovService/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ventes">
      <soap:operation soapAction="http://tempuri.org/IYnovService/Ventes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Clients">
      <soap:operation soapAction="http://tempuri.org/IYnovService/Clients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Resultats">
      <soap:operation soapAction="http://tempuri.org/IYnovService/Resultats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSuppliers">
      <soap:operation soapAction="http://tempuri.org/IYnovService/GetAllSuppliers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <soap:operation soapAction="http://tempuri.org/IYnovService/GetAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrder">
      <soap:operation soapAction="http://tempuri.org/IYnovService/GetAllOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrderItem">
      <soap:operation soapAction="http://tempuri.org/IYnovService/GetAllOrderItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNbCustomersByCountry">
      <soap:operation soapAction="http://tempuri.org/IYnovService/GetNbCustomersByCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNbSupplierByCountry">
      <soap:operation soapAction="http://tempuri.org/IYnovService/GetNbSupplierByCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNbCommandsByCustomers">
      <soap:operation soapAction="http://tempuri.org/IYnovService/GetNbCommandsByCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalSpendByCustomers">
      <soap:operation soapAction="http://tempuri.org/IYnovService/GetTotalSpendByCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalCommandByMonth">
      <soap:operation soapAction="http://tempuri.org/IYnovService/GetTotalCommandByMonth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTurnoverByMonth">
      <soap:operation soapAction="http://tempuri.org/IYnovService/GetTurnoverByMonth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNbProductBySupplier">
      <soap:operation soapAction="http://tempuri.org/IYnovService/GetNbProductBySupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNbSaleByProduct">
      <soap:operation soapAction="http://tempuri.org/IYnovService/GetNbSaleByProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="YnovService">
    <wsdl:port name="BasicHttpBinding_IYnovService" binding="tns:BasicHttpBinding_IYnovService">
      <soap:address location="http://webhostuwp20161129090314.azurewebsites.net/Service.svc/ynovservice/basic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>